ul.search
    li#li1
        span &#533
        a 母婴
        a 玩具
        a 童装童鞋
    li#li2
        span &#114
        a 手机
        a 数码
        a 电器
    li#li3
        span &#119
        a 电脑
        a 办公设备
        a 电脑DIY
    li#li4
        span &#105
        a 电视
        a 冰箱
        a 洗衣机
        a 空调
    li#li5
        span &#118
        a 厨卫电器
        a 小家电
        a 个护
    li#li6
        span &#34
        a 美妆个护
        a 面膜
        a 洗护
    li#li7
        span &#109
        a 户外运动
        a 汽车用品
    li#li8
        span &#107
        a 男装
        a 女装
        a 内衣鞋靴
    li#li9
        span &#61445
        a 箱包皮具
        a 钟表饰品
    li#li10
        span &#100
        a 食品粮油
        a 酒水冲调
    li#li11
        span &#546
        a 居家家纺
        a 家装建材
    li#li12
        span &#113
        a 图书
        a 免费书城
        a 童书
    li#li13
        span &#61512
        a 金融
        a 理财
        a 众筹
        a 团购