link(rel='stylesheet', href='/stylesheets/partials/shoppingCar.css')
div.clearfix.center#ng-header
    logo
    div.cart-progress.right
        ul
            li.finish
                div
                i 1
                a 我的购物车
            li.begin
                div
                i 2
                a 确认订单
            li.begin
                div
                i 3
                a 付款
            li.begin
                div
                i 4
                a 支付成功
div.shoppingcarFull(ui-view="shoppingcar")

