script shopingNavChange(4);
link(rel='stylesheet', href='/stylesheets/partials/shop4.css')
div.main
    canvas(id="text",width="500",height="100")
    canvas(id="stage",width="500",height="100")
    form(id="form")
        input(type="text",id="inputText",ng-model="message")
        input(type="submit",value="TRY IT")
    script(src='/javascripts/vendor/shoppingCarFull4/EasePack.min.js')
    script(src='/javascripts/vendor/shoppingCarFull4/TweenLite.min.js')
    script(src='/javascripts/vendor/shoppingCarFull4/easeljs-0.7.1.min.js')
    script(src='/javascripts/vendor/shoppingCarFull4/requestAnimationFrame.js')
    script(src="/javascripts/vendor/shoppingCarFull4/index.js")