@charset "UTF-8";
@import url(partials/style.css);
@import url(partials/goodsDetailed.css);
body {
  position: absolute;
  font: 12px/1.5 arial, tahoma, "宋体";
  height: 100%;
  width: 100%;
  min-width: 1300px; }

a {
  cursor: pointer; }

footer {
  text-align: center;
  background-color: #463E3E;
  width: 100%;
  height: 60px;
  font-size: 30px;
  color: #ffffff; }

.center {
  width: 1190px;
  height: 100%;
  margin: auto; }

.right {
  float: right; }

.left {
  float: left; }

header {
  position: relative;
  z-index: 9999;
  height: 35px;
  line-height: 35px;
  width: 100%;
  height: 35px;
  background-color: #F5F5F5; }
  header .right #oder {
    display: inline-block;
    margin-left: 10px;
    width: 75px; }
    header .right #oder #oderList {
      display: none; }
  header .right #oder:hover {
    background-color: #FFFFFF;
    border: 1px solid #BBB;
    padding-left: 5px; }
    header .right #oder:hover #oderList {
      display: block; }
  header .right #shoppingCar {
    position: relative;
    display: inline; }
  header li {
    margin-left: 20px;
    cursor: pointer;
    display: inline-block; }
  header li:hover {
    color: #FF6600; }

@keyframes index-enter {
  from {
    opacity: 0.1;
    transform: translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0); }
  to {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0); } }
@keyframes leave {
  from {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0); }
  to {
    opacity: 1;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0); } }
@keyframes index-leave {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg); }
  20% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    animation-timing-function: ease-out; }
  40% {
    transform: rotateZ(17deg);
    -webkit-transform: rotateZ(17deg);
    -moz-transform: rotateZ(17deg);
    -o-transform: rotateZ(17deg);
    -ms-transform: rotateZ(17deg); }
  60% {
    transform: rotateZ(16deg);
    -webkit-transform: rotateZ(16deg);
    -moz-transform: rotateZ(16deg);
    -o-transform: rotateZ(16deg);
    -ms-transform: rotateZ(16deg); }
  100% {
    transform: translateY(100%) rotateZ(17deg);
    -webkit-transform: translateY(100%) rotateZ(17deg);
    -moz-transform: translateY(100%) rotateZ(17deg);
    -o-transform: translateY(100%) rotateZ(17deg);
    -ms-transform: translateY(100%) rotateZ(17deg); } }
@keyframes shoppingCar-enter {
  from {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%); }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0); } }
@keyframes shoppingCar-leave {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    -moz-transform: translateZ(-3000px) rotateZ(360deg);
    -o-transform: translateZ(-3000px) rotateZ(360deg);
    -ms-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }
.page {
  position: absolute; }

.ng-enter {
  z-index: 8888; }

.ng-leave {
  z-index: 9999; }

.index.ng-enter {
  animation: index-enter 1s both ease-in; }

.index.ng-leave {
  position: fixed;
  transform-origin: 0% 0%;
  animation: index-leave 2s both ease-in; }

.goodsMain.ng-enter, .myGoodController.ng-enter, .shoppingcarFull.ng-enter {
  position: fixed;
  animation: shoppingCar-enter 1s both ease-in; }

.goodsMain.ng-leave, .myGoodController.ng-leave, .shoppingcarFull.ng-leave {
  position: fixed;
  animation: leave 1s both ease-in; }

.shopMain.ng-leave {
  animation: leave 0.5s both ease-in; }

.ng-enter + footer {
  display: none; }

.ng-leave + footer {
  display: none; }

.shoppingCar.ng-enter, .goods.ng-enter {
  position: fixed;
  animation: shoppingCar-enter 1s both ease-in; }

.shoppingCar.ng-leave, .goods.ng-leave {
  position: fixed;
  animation: shoppingCar-leave 1s both ease-in; }

@font-face {
  font-family: "listIconfont";
  src: url("/fonts/listIcon/iconfont.eot") format("eot"), url("/fonts/listIcon/iconfont.ttf") format("ttf"), url("/fonts/listIcon/iconfont.woff") format("woff"), url("/fonts/listIcon/iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
div {
  width: 100%; }

#ng-header {
  width: 1190px;
  height: 80px; }
  #ng-header div {
    margin-right: 50px;
    display: inline-block; }
  #ng-header .logo {
    cursor: pointer;
    width: 330px;
    height: 90px; }
    #ng-header .logo #logoIMG {
      height: 70px; }
    #ng-header .logo #logoFont {
      border-radius: 0px;
      letter-spacing: 7px;
      font-weight: bold;
      font-family: "MicroSoft YaHei";
      font-size: 15px; }
  #ng-header #search {
    width: 600px;
    height: 61px; }
    #ng-header #search form {
      width: 600px;
      height: 40px;
      border: 2px solid #FFAA00; }
      #ng-header #search form span {
        font-size: 18px;
        color: #D5CCCC;
        margin: auto 8px; }
      #ng-header #search form input {
        border: 0px;
        height: 36px; }
      #ng-header #search form #text {
        width: 455px;
        font-size: 20px; }
      #ng-header #search form #buttom {
        color: #FFF;
        border-radius: 0px;
        letter-spacing: 7px;
        font-weight: bold;
        font-family: "MicroSoft YaHei";
        font-size: 16px;
        background-color: #FFAA00;
        float: right;
        width: 100px; }
      #ng-header #search form #buttom:hover {
        background-color: #FF8800; }

#list1 {
  width: 1190px;
  height: 40px; }
  #list1 div {
    display: block;
    height: 100%;
    width: 190px;
    background-color: #FFAA00;
    line-height: 38px;
    font-size: 14px;
    line-height: 38px;
    color: #FFF; }
    #list1 div span {
      margin-left: 9px;
      margin-right: 10px;
      width: 14px;
      height: 35px; }

#ng-nav-bar {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000090;
  width: 35px;
  height: 100%;
  background-color: #383838; }
  #ng-nav-bar .top {
    height: 130px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #4D4D4D; }
    #ng-nav-bar .top span {
      cursor: pointer;
      padding-left: 5px;
      padding-top: 5px;
      width: 100%;
      height: 34px;
      color: #CF8E0D;
      margin-top: 90px;
      font-size: 20px; }
    #ng-nav-bar .top span:hover {
      background-color: #CF8E0D;
      color: #4D4D4D; }
  #ng-nav-bar .center {
    height: 130px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #4D4D4D;
    cursor: pointer; }
    #ng-nav-bar .center span {
      padding-top: 17px;
      padding-left: 8px;
      width: 100%;
      word-wrap: break-word;
      display: hidden;
      font-size: 15px;
      color: #FDFDFD; }
      #ng-nav-bar .center span div {
        margin-top: 8px;
        letter-spacing: 8px;
        border-radius: 8px;
        background-color: #DD0000;
        width: 15px;
        font-size: 15px;
        vertical-align: center;
        padding-left: 3px;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center; }
  #ng-nav-bar .center:hover {
    background-color: #FFAA01; }
  #ng-nav-bar .buttom {
    height: 405px;
    width: 100%; }
    #ng-nav-bar .buttom span {
      cursor: pointer;
      margin-top: 80px;
      padding-top: 3px;
      height: 30px;
      width: 100%;
      vertical-align: center;
      text-align: center;
      font-size: 23px;
      color: #FFAA01; }
    #ng-nav-bar .buttom span:hover {
      background-color: #FFAA01;
      color: #4D4D4D; }

#first-screen {
  width: 1190px;
  height: 417px; }
  #first-screen div {
    display: inline-block; }
  #first-screen .left {
    width: 190px;
    height: 417px; }
    #first-screen .left ul {
      width: 100%;
      height: 100%; }
      #first-screen .left ul li {
        font-family: "listIconfont";
        height: 32px;
        line-height: 32px;
        border-top: 1px solid #333;
        border-bottom: 1px solid #252525;
        overflow: hidden;
        background-color: #2B2B2B; }
        #first-screen .left ul li a {
          float: left;
          display: inline-block;
          margin-left: 8px;
          color: #FFF;
          font-size: 13px;
          white-space: nowrap; }
        #first-screen .left ul li span {
          float: left;
          display: inline-block;
          margin-left: 8px;
          color: #FFAA00;
          font-size: 13px;
          white-space: nowrap; }
      #first-screen .left ul li:hover {
        background-color: #FFF; }
        #first-screen .left ul li:hover a {
          color: #2B2B2B; }
  #first-screen .right {
    width: 1000px;
    height: 417px;
    background-color: #DAEBFF;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px; }
    #first-screen .right section {
      overflow: hidden;
      width: 100%;
      height: 100%; }
      #first-screen .right section div {
        position: relative;
        left: 250px; }
        #first-screen .right section div nav span {
          color: #000000; }

.navShow {
  opacity: 0;
  filter: alpha(opacity=0);
  transform: scale(0.01);
  -webkit-transform: scale(0.01);
  -moz-transform: scale(0.01);
  -o-transform: scale(0.01);
  -ms-transform: scale(0.01); }

#leftNav {
  transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -ms-transition: all 2s;
  font-family: "listIconfont";
  opacity: 0.8;
  width: 32px;
  height: 370px;
  position: fixed;
  z-index: 8888;
  background-color: #F4F4F4;
  top: 20%;
  left: 20px; }
  #leftNav li {
    width: 32px;
    height: 38px;
    margin-top: -1px;
    border-top: 1px solid #DDD;
    background: #F4F4F4 none repeat scroll 0% 0%;
    text-align: center;
    overflow: hidden; }
    #leftNav li a {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      height: 35px; }
    #leftNav li a:nth-child(2n) {
      transform: scale(0.1);
      -webkit-transform: scale(0.1);
      -moz-transform: scale(0.1);
      -o-transform: scale(0.1);
      -ms-transform: scale(0.1);
      padding-top: 7px;
      background: #FFF none repeat scroll 0% 0%;
      color: #222;
      font: 12px/13px "microsfot yahei";
      text-decoration: none;
      outline: 0px none; }
    #leftNav li a:nth-child(2n+1) {
      line-height: 40px;
      color: #B8B8B8;
      font-size: 20px;
      display: block;
      text-decoration: none;
      outline: 0px none; }
  #leftNav li:hover a {
    transform: translate(0, -37px);
    -webkit-transform: translate(0, -37px);
    -moz-transform: translate(0, -37px);
    -o-transform: translate(0, -37px);
    -ms-transform: translate(0, -37px); }
  #leftNav li:hover a:nth-child(2n+1) {
    transform: scale(0.01);
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -o-transform: scale(0.01);
    -ms-transform: scale(0.01); }

#ad1 {
  margin-top: 30px;
  width: 1190px;
  height: 420px; }

#floor1 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor1 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #FF6B80; }
    #floor1 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor1 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor1 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #FF6B80;
        border-bottom-color: #FFFFFF; }
      #floor1 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor1 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor1 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor1 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor1 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor2 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor2 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #63B2FF; }
    #floor2 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor2 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor2 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #63B2FF;
        border-bottom-color: #FFFFFF; }
      #floor2 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor2 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor2 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor2 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor2 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor3 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor3 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #AFD55B; }
    #floor3 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor3 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor3 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #AFD55B;
        border-bottom-color: #FFFFFF; }
      #floor3 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor3 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor3 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor3 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor3 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor4 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor4 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #FF9A02; }
    #floor4 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor4 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor4 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #FF9A02;
        border-bottom-color: #FFFFFF; }
      #floor4 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor4 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor4 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor4 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor4 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor5 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor5 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #FF6565; }
    #floor5 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor5 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor5 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #FF6565;
        border-bottom-color: #FFFFFF; }
      #floor5 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor5 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor5 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor5 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor5 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor6 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor6 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #FC7293; }
    #floor6 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor6 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor6 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #FC7293;
        border-bottom-color: #FFFFFF; }
      #floor6 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor6 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor6 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor6 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor6 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor7 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor7 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #6E93FE; }
    #floor7 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor7 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor7 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #6E93FE;
        border-bottom-color: #FFFFFF; }
      #floor7 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor7 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor7 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor7 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor7 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor8 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor8 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #366BCB; }
    #floor8 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor8 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor8 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #366BCB;
        border-bottom-color: #FFFFFF; }
      #floor8 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor8 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor8 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor8 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor8 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor9 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor9 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #7DBC2F; }
    #floor9 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor9 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor9 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #7DBC2F;
        border-bottom-color: #FFFFFF; }
      #floor9 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor9 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor9 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor9 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor9 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#floor10 {
  width: 1190px;
  height: 490px;
  margin-top: 25px; }
  #floor10 .floor-head {
    position: relative;
    height: 48px;
    border-bottom: 2px solid #9E662D; }
    #floor10 .floor-head .title {
      float: left;
      width: 185px;
      height: 48px;
      padding-left: 3px;
      color: #222;
      overflow: hidden; }
    #floor10 .floor-head .tab {
      position: absolute;
      top: 13px;
      left: 188px;
      height: 37px;
      overflow: hidden; }
      #floor10 .floor-head .tab .on {
        padding: 0px;
        border: 2px solid;
        border-color: #9E662D;
        border-bottom-color: #FFFFFF; }
      #floor10 .floor-head .tab li {
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        float: left;
        width: 120px;
        height: 35px;
        overflow: hidden;
        padding: 2px 2px 0px; }
  #floor10 .floor-main {
    position: relative;
    height: 440px;
    overflow: hidden; }
    #floor10 .floor-main .side {
      position: relative;
      float: left;
      width: 190px;
      height: 440px; }
    #floor10 .floor-main .main-col {
      transition: all 1s;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      display: block;
      width: 999px;
      height: 439px;
      float: left;
      overflow: hidden; }
  #floor10 .show .main-col {
    transform: translate(0, -440px);
    -webkit-transform: translate(0, -440px);
    -moz-transform: translate(0, -440px);
    -o-transform: translate(0, -440px);
    -ms-transform: translate(0, -440px); }

#help {
  margin-top: 10px;
  background-color: #F5F5F5;
  width: 100%;
  height: 254px; }

/*# sourceMappingURL=index.css.map */
